In [1]:
from datautils import yahoo_finance as yf
from datautils import risk_models as risk
from datetime import datetime as dt
from IPython.display import display
import pandas as pd
import numpy as np

# Get the current price

In [2]:
symbol = 'GOOG'
current_price = yf.get_current_price(symbol)
print current_price

683.11

# Get daily stock data between dates

In [3]:
start_date = dt(year=2015, month=1, day=1)
end_date = dt(year=2015, month=12, day=31)

data = yf.get_stock_data('GOOG', start_date, end_date)
display(data.head(10))

,Open,High,Low,Close,Volume,Adj Close
Date,,,,,,
2015-01-02,529.012399,531.272443,524.102327,524.812404,1447600,524.812404
2015-01-05,523.262377,524.332389,513.062315,513.872306,2059800,513.872306
2015-01-06,515.002358,516.177334,501.052266,501.962262,2899900,501.962262
2015-01-07,507.002299,507.246285,499.652247,501.102268,2065100,501.102268
2015-01-08,497.992238,503.482300,491.002212,502.682255,3353600,502.682255
2015-01-09,504.762300,504.922285,494.792239,496.172274,2069400,496.172274
2015-01-12,494.942247,495.978261,487.562205,492.552209,2322400,492.552209
2015-01-13,498.842256,502.982302,492.392254,496.182251,2370500,496.182251
2015-01-14,494.652237,503.232286,493.002234,500.872267,2235700,500.872267
2015-01-15,505.572291,505.682273,497.762267,501.792271,2715800,501.792271

In [5]:
pct_returns = yf.get_pct_returns('GOOG', start_date, end_date, col='Adj Close')
data['pct_returns'] = pct_returns

returns = yf.get_returns('GOOG', start_date, end_date, col='Adj Close')
data['returns'] = returns

log_returns = np.log(data['Adj Close']) - np.log(data['Adj Close'].shift(1)).fillna(0)
data['log_returns'] = log_returns

display(data.head(10))

,Open,High,Low,Close,Volume,Adj Close,pct_returns,returns,log_returns
Date,,,,,,,,,
2015-01-02,529.012399,531.272443,524.102327,524.812404,1447600,524.812404,0.000000,0.000000,6.263041
2015-01-05,523.262377,524.332389,513.062315,513.872306,2059800,513.872306,-0.020846,-10.940098,-0.021066
2015-01-06,515.002358,516.177334,501.052266,501.962262,2899900,501.962262,-0.023177,-11.910044,-0.023450
2015-01-07,507.002299,507.246285,499.652247,501.102268,2065100,501.102268,-0.001713,-0.859994,-0.001715
2015-01-08,497.992238,503.482300,491.002212,502.682255,3353600,502.682255,0.003153,1.579987,0.003148
2015-01-09,504.762300,504.922285,494.792239,496.172274,2069400,496.172274,-0.012950,-6.509981,-0.013035
2015-01-12,494.942247,495.978261,487.562205,492.552209,2322400,492.552209,-0.007296,-3.620065,-0.007323
2015-01-13,498.842256,502.982302,492.392254,496.182251,2370500,496.182251,0.007370,3.630042,0.007343
2015-01-14,494.652237,503.232286,493.002234,500.872267,2235700,500.872267,0.009452,4.690016,0.009408
2015-01-15,505.572291,505.682273,497.762267,501.792271,2715800,501.792271,0.001837,0.920004,0.001835

# Risk models

In [ ]:
alpha = get_alpha()