In [1]:
from datautils import quandl_info as gd
from datetime import datetime as dt
from IPython.display import display
import pandas as pd
import numpy as np

## Get daily stock data between dates

In [2]:
start_date = dt(year=2015, month=1, day=1)
end_date = dt(year=2015, month=12, day=31)

data = gd.get_stock_data('GOOG', start_date, end_date)
display(data.head(10))

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2015-01-02,529.01,531.270,524.100,524.81,1443471,0,1,529.01,531.270,524.100,524.81,1443471
2015-01-05,523.26,524.330,513.060,513.87,2032052,0,1,523.26,524.330,513.060,513.87,2032052
2015-01-06,515.00,516.175,501.050,501.96,2879847,0,1,515.00,516.175,501.050,501.96,2879847
2015-01-08,498.30,503.480,491.000,502.68,3340321,0,1,498.30,503.480,491.000,502.68,3340321
2015-01-12,494.94,495.976,487.560,492.55,2314624,0,1,494.94,495.976,487.560,492.55,2314624
2015-01-13,498.90,502.980,492.390,496.18,2362493,0,1,498.90,502.980,492.390,496.18,2362493
2015-01-14,494.65,503.230,493.000,500.87,2207198,0,1,494.65,503.230,493.000,500.87,2207198
2015-01-15,505.57,505.680,497.760,501.79,2707763,0,1,505.57,505.680,497.760,501.79,2707763
2015-01-20,510.62,512.500,506.016,506.90,2221783,0,1,510.62,512.500,506.016,506.90,2221783
2015-01-21,507.25,519.280,506.200,518.04,2245594,0,1,507.25,519.280,506.200,518.04,2245594

## Get multiple stock data

In [3]:
start_date = dt(year=2015, month=1, day=1)
end_date = dt(year=2015, month=12, day=31)

data = gd.get_stock_data_multiple(["GOOG", "AAPL"], start_date, end_date)
display(data["GOOG"].head(10))
display(data["AAPL"].head(10))

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2015-01-02,529.01,531.270,524.100,524.81,1443471,0,1,529.01,531.270,524.100,524.81,1443471
2015-01-05,523.26,524.330,513.060,513.87,2032052,0,1,523.26,524.330,513.060,513.87,2032052
2015-01-06,515.00,516.175,501.050,501.96,2879847,0,1,515.00,516.175,501.050,501.96,2879847
2015-01-08,498.30,503.480,491.000,502.68,3340321,0,1,498.30,503.480,491.000,502.68,3340321
2015-01-12,494.94,495.976,487.560,492.55,2314624,0,1,494.94,495.976,487.560,492.55,2314624
2015-01-13,498.90,502.980,492.390,496.18,2362493,0,1,498.90,502.980,492.390,496.18,2362493
2015-01-14,494.65,503.230,493.000,500.87,2207198,0,1,494.65,503.230,493.000,500.87,2207198
2015-01-15,505.57,505.680,497.760,501.79,2707763,0,1,505.57,505.680,497.760,501.79,2707763
2015-01-20,510.62,512.500,506.016,506.90,2221783,0,1,510.62,512.500,506.016,506.90,2221783
2015-01-21,507.25,519.280,506.200,518.04,2245594,0,1,507.25,519.280,506.200,518.04,2245594

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2015-01-02,111.39,111.44,107.350,109.33,53204626,0,1,108.942387,108.991289,104.991160,106.927652,53204626
2015-01-05,108.29,108.65,105.410,106.25,64285491,0,1,105.910505,106.262594,103.093788,103.915330,64285491
2015-01-06,106.54,107.43,104.630,106.26,65797116,0,1,104.198958,105.069402,102.330927,103.925111,65797116
2015-01-07,107.20,108.20,106.695,107.75,40105934,0,1,104.844456,105.822482,104.350552,105.382370,40105934
2015-01-08,109.23,112.15,108.700,111.89,59364547,0,1,106.829850,109.685687,106.311496,109.431400,59364547
2015-01-09,112.67,113.25,110.210,112.01,53315099,0,1,110.194261,110.761517,107.788316,109.548764,53315099
2015-01-12,112.60,112.63,108.800,109.25,49650790,0,1,110.125799,110.155140,106.409298,106.849410,49650790
2015-01-13,111.43,112.80,108.910,110.22,67091928,0,1,108.981508,110.321405,106.516881,107.798096,67091928
2015-01-14,109.04,110.49,108.500,109.80,48956588,0,1,106.644025,108.062163,106.115890,107.387325,48956588
2015-01-15,110.00,110.06,106.660,106.82,60013996,0,1,107.582930,107.641612,104.316321,104.472805,60013996

## Get percentage returns

In [4]:
start_date = dt(year=2015, month=1, day=1)
end_date = dt(year=2015, month=12, day=31)

data = gd.get_pct_returns("GE", start_date, end_date)
display(data.head(10))

Date
2015-01-02    0.000000
2015-01-05   -0.018356
2015-01-06   -0.021545
2015-01-08    0.012464
2015-01-12   -0.016003
2015-01-13   -0.005004
2015-01-14   -0.003353
2015-01-15   -0.008410
2015-01-20    0.011450
2015-01-21    0.007966
Name: Adj. Close, dtype: float64

## Use a different Quandl database

In [5]:
start_date = dt(year=2015, month=1, day=1)
end_date = dt(year=2015, month=12, day=31)

# use Yahoo's stock database
# default is Quandl's WIKI
data = gd.get_stock_data("GOOG", start_date, end_date, "YAHOO")
display(data.head(10))

,Open,High,Low,Close,Volume,Adjusted Close
Date,,,,,,
2015-01-02,529.012399,531.272443,524.102327,524.812404,1447600,524.812404
2015-01-05,523.262377,524.332389,513.062315,513.872306,2059800,513.872306
2015-01-06,515.002358,516.177334,501.052266,501.962262,2899900,501.962262
2015-01-07,507.002299,507.246285,499.652247,501.102268,2065100,501.102268
2015-01-08,497.992238,503.482300,491.002212,502.682255,3353600,502.682255
2015-01-09,504.762300,504.922285,494.792239,496.172274,2069400,496.172274
2015-01-12,494.942247,495.978261,487.562205,492.552209,2322400,492.552209
2015-01-13,498.842256,502.982302,492.392254,496.182251,2370500,496.182251
2015-01-14,494.652237,503.232286,493.002234,500.872267,2235700,500.872267
2015-01-15,505.572291,505.682273,497.762267,501.792271,2715800,501.792271